[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "08_Julia/notebooks"]
	path = 08_Julia/notebooks
	url = https://github.com/flatironinstitute/sciware-julia
