---
title: index
---

<!DOCTYPE html>
<html>
  <head>
    <title>Sciware: a scientific software development learning community</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#404f9d">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ site.baseurl }}/flatiron.css" id="theme" />
  </head>
  <body class="landing">
    <div class="banner">
      <div class="banner-image"></div>
    </div>
    <h2>Sciware sessions</h2>
    <ul>
    {% assign sorted_pages  = site.pages | where:"nav_include", "true" | sort:"title" %}
      {% for p in sorted_pages %}
        {% if p.title %}
          {% unless p.url contains '/reveal.js/' %}
            <li>
              <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>
