# for the notebook
jupyterlab
matplotlib
emcee
autograd
tqdm
# these three will be dependencies of our new package
# so future users wouldn't need to install them independently
scipy
numpy
celerite
# for help packaging
pip
build
twine # for uploading to PyPI
