<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/reveal.js/dist/reveal.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/flatiron.css" id="theme" />

    <!-- Theme used for syntax highlighting of code -->
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/reveal.js/plugin/highlight/zenburn.css"
    />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section
          data-markdown="{{ page.markdown }}"
          data-separator="^\n\n\n"
          data-separator-vertical="^\n\n"
          data-separator-notes="^#note:"></section>
      </div>
    </div>

    <script src="{{ site.baseurl }}/reveal.js/dist/reveal.js"></script>
    <script src="{{ site.baseurl }}/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="{{ site.baseurl }}/reveal.js/plugin/highlight/highlight.js"></script>
    <script src="{{ site.baseurl }}/reveal.js/plugin/notes/notes.js"></script>
    <script src="{{ site.baseurl }}/reveal.js/plugin/math/math.js"></script>

    <!-- needed for builds from svg images: https://github.com/rajgoel/reveal.js-plugins/tree/master/animate -->
    <script src="{{ site.baseurl }}/reveal.js-plugins/loadcontent/plugin.js"></script>
    <script src="{{ site.baseurl }}/reveal.js-plugins/animate/plugin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.min.js"></script>

    <script>
      Reveal.initialize({
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealMath.MathJax2, RevealLoadContent, RevealAnimate],
         animate: {
             autoplay: true
         },
        controlsTutorial: false,
        slideNumber: true,
        width: 1200,
        height: 800,
        fragmentInURL: true,
        center: true,
        // history: true,
        mathjax2: {
          // mathjax: 'https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js',
          config: 'TeX-AMS_HTML',
        },
      })
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "HTML-CSS": {minScaleAdjust: 100},
        CommonHTML: {minScaleAdjust: 100}
      });
    </script>
  </body>
</html>
